{% extends 'base.html' %}
{% load static %}

{% block head_end %}
{{ block.super }}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/plugins/admin/css/servicios.css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
{% endblock %}


{% endblock head_end %}

{% block body_start %}
{{ block.super }}

{% endblock %}

{% block body_content %}

<!-- ################################# FRONT-END ######################################### -->

<form class="frm_ajax" id="myForm" action="/servicios/response/" method="POST" target="_blank">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

{% block content %}

{% endblock content %}

{% endblock %}

{% block body_end %}

{% endblock body_end %}