{% extends 'base.html' %}
{% load static %}

{% block head_end %}
{{ block.super }}


{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'plugins/admin/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/Tempus-Dominus/tempus-dominus.css' %}">

{% endblock %}


{% endblock head_end %}

{% block body_start %}
{{ block.super }}

{% endblock %}

{% block body_content %}

<style>
    .principal {
        min-height: 70vh;
        align-items: center;
        background: #5b9155;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 4.5em;
        color: white;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .container {
        padding: 20px;
        width: 69rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    }
</style>

<!-- ################################# FRONT-END ######################################### -->

<!-- Modal para confirmar datos -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="datosIngresados"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="enviarFormulario()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0.31rem;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 0.31rem;">
                <li class="nav-item">
                    <a href="/servicios/index/">
                        <img src="/static/img/Logo-Alcaldia-2023.png" alt="" style="height: 4rem">
                    </a>
                </li>
                <li class="nav-item" style="padding-left: 0.3rem;">
                    <img src="/static/img/servicios.png" alt="" style="height: 4rem">
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="principal">
    <br>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <h1>Infocentro</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container-fluid">
            <form id="myForm" method="POST" action="{% url 'registrar_deportes' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <label for="zona_eleccion" class="form-label" title="Zona donde tomará el curso">Zona de
                            residencia:</label>
                        <div class="input-group" style="padding-top: 0.4rem;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="zona_eleccion" id="zona_urbana"
                                    value="urbana" checked>
                                <label class="form-check-label" for="zona_urbana">Urbana</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="zona_eleccion" id="zona_rural"
                                    value="rural">
                                <label class="form-check-label" for="zona_rural">Rural</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="flt_curso" class="form-label">Curso:</label>
                        <select class="form-select" id="flt_curso" name="flt_curso">
                            <option selected>Elija un curso</option>
                            <!-- <option value="futbol">Fútbol</option>
                            <option value="basquet">Básquet</option> -->
                        </select>
                        <input id="flt_curso_list" name="flt_curso_list" value="" type="hidden">
                    </div>

                    <div class="col-md-3">
                        <label for="flt_genero" class="form-label">Género:</label>
                        <select class="form-select" id="flt_genero" name="flt_genero">
                            <option selected>Elija un género</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                        </select>
                        <input id="flt_genero_list" name="flt_genero_list" value="" type="hidden">
                    </div>

                    <div class="col-md-3">
                        <label for="flt_cedula" class="form-label">Cédula</label>
                        <input type="text" class="form-control" id="flt_cedula" name="flt_cedula"
                            placeholder="Ingrese su cédula">
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <label for="flt_nombre_1" class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" id="flt_nombre_1" name="flt_nombre_1"
                            placeholder="Ingrese primer nombre">
                    </div>

                    <div class="col-md-3">
                        <label for="flt_nombre_2" class="form-label">Segundo nombre</label>
                        <input type="text" class="form-control" id="flt_nombre_2" name="flt_nombre_2"
                            placeholder="Ingrese segundo nombre">
                    </div>

                    <div class="col-md-3">
                        <label for="flt_apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="flt_apellidos" name="flt_apellidos"
                            placeholder="Ingrese sus dos apellidos">
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6">
                        <label for="flt_canton" class="form-label">Cantón de residencia</label>
                        <select class="form-select" id="flt_canton">
                            <option selected>Selecciona un cantón o ciudad</option>
                        </select>
                        <input id="flt_canton_list" name="flt_canton_list" value="" type="hidden">
                    </div>

                    <div class="col-md-4">
                        <label for="datetimepicker1Input" class="form-label" style="font-weight: 500;">Fecha de
                            nacimiento
                        </label>
                        <div class="input-group" id="datetimepicker1" data-td-target-input="nearest"
                            data-td-target-toggle="nearest" style="width: 19rem;">
                            <input id="datetimepicker1Input" type="text" class="form-control"
                                data-td-target="#datetimepicker1" />
                            <span class="input-group-text" data-td-target="#datetimepicker1"
                                data-td-toggle="datetimepicker">
                                <span class="fas fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6">
                        <label for="flt_nombre_representante" class="form-label">Nombre del representante</label>
                        <input type="text" class="form-control" id="flt_nombre_representante"
                            name="flt_nombre_representante" placeholder="Ingrese nombre completo del representante">
                    </div>

                    <div class="col-md-3">
                        <label for="flt_telefono" class="form-label">Celular</label>
                        <div class="input-group">
                            <span class="input-group-text">+593</span>
                            <input type="text" id="flt_telefono" name="flt_telefono" class="form-control"
                                placeholder="9xx-xxxxxx">
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button id="revisarDatosBtn" type="button" class="btn btn-primary"
                                onclick="if (validarCampos()) $('#confirmacionModal').modal('show');">
                                Revisar Datos
                            </button>
                        </div>
                    </div>
                </div>

                <input id="fecha" name="fecha" value="" type="hidden">
                <input id="id_course" name="id_course" value="" type="hidden">
            </form>
        </div>
    </div>
    <br><br><br><br>
</div>

<script type="text/javascript" charset="utf-8">
    var fechaMinima = new Date();
    fechaMinima.setFullYear(fechaMinima.getFullYear() - 4);

    var fechaMaxima = new Date();
    fechaMaxima.setFullYear(fechaMinima.getFullYear() - 14);

    var fecha_min = moment(fechaMinima, 'YYYY-MM-DD').toDate();
    var fecha_max = moment(fechaMaxima, 'YYYY-MM-DD').toDate();

    const picker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
        restrictions: {
            maxDate: fecha_min,
            minDate: fecha_max
        },
        display: {
            components: {
                clock: false
            }
        },
        localization: {
            startOfTheWeek: 1,
            locale: 'es-EC',
            format: 'YYYY-MM-DD',
        }
    });
    picker1.dates.formatInput = date => moment(date).format('YYYY-MM-DD')
    picker1.dates.setValue(tempusDominus.DateTime.convert(fecha_min));

    datetimepicker1Input.addEventListener(tempusDominus.Namespace.events.change, (e) => {
        fecha1 = document.getElementById("datetimepicker1Input").value;
        $('#fecha').val(fecha1);
    });
</script>

<script type="text/javascript" charset="utf-8">
    // Función que me da los cantones y ciudades al select
    // Obtén el elemento select
    const selectCantones = document.getElementById('flt_canton');
    const selectCursos = document.getElementById('flt_curso');
    const data = JSON.parse('{{ data|escapejs }}');

    function capitalizeFirstLetter(str) {
        return str.replace(/(?:^|\s)\S/g, function (match) {
            return match.toUpperCase();
        });
    }

    console.log(data);

    data.forEach(objeto => {
        const option = document.createElement('option');
        option.value = objeto.name;
        option.text = objeto.name;
        selectCursos.appendChild(option);
    })

    // Carga los datos desde el archivo JSON
    fetch('/static/plugins/admin/json/provincias.json')
        .then(response => response.json())
        .then(data => {
            // Rellena el select con los cantones de la provincia de Guayas
            const guayas = data['9']; // El código '9' corresponde a la provincia de Guayas
            if (guayas && guayas.cantones) {
                for (const cantonId in guayas.cantones) {
                    const canton = guayas.cantones[cantonId];
                    const option = document.createElement('option');
                    option.value = capitalizeFirstLetter(canton.canton.toLowerCase());
                    option.text = capitalizeFirstLetter(canton.canton.toLowerCase());
                    selectCantones.appendChild(option);
                }
            }
        })
        .catch(error => console.error('Error al cargar los datos: ' + error));

    function validarCampos() {
        var zonaEleccion = document.querySelector('input[name="zona_eleccion"]:checked');
        var curso = document.getElementById('flt_curso').value;
        var genero = document.getElementById('flt_genero').value;
        var nombre1 = document.getElementById('flt_nombre_1').value;
        var nombre2 = document.getElementById('flt_nombre_2').value;
        var apellidos = document.getElementById('flt_apellidos').value;
        var cedula = document.getElementById('flt_cedula').value;
        var canton = document.getElementById('flt_canton').value;
        var fechaNacimiento = document.getElementById('fecha').value;
        var representante = document.getElementById('flt_nombre_representante').value;
        var telefono = document.getElementById('flt_telefono').value;

        // Agrega más campos según sea necesario

        if (!zonaEleccion || !curso || !genero || !nombre1 || !nombre2 || !apellidos || !cedula || !canton || !fechaNacimiento || !representante || !telefono) {
            alert('Por favor, complete todos los campos obligatorios.');
            return false;
        }

        // Agrega más validaciones según sea necesario

        return true;
    }

    document.getElementById('revisarDatosBtn').addEventListener('click', function () {
        // Recopila los valores de los campos del formulario
        var zonaEleccion = capitalizeFirstLetter(document.querySelector('input[name="zona_eleccion"]:checked').value);
        var curso = document.getElementById('flt_curso').value;
        var genero = capitalizeFirstLetter(document.getElementById('flt_genero').value);
        var nombre1 = capitalizeFirstLetter(document.getElementById('flt_nombre_1').value);
        var nombre2 = capitalizeFirstLetter(document.getElementById('flt_nombre_2').value);
        var apellidos = capitalizeFirstLetter(document.getElementById('flt_apellidos').value);
        var nombreCompleto = `${nombre1} ${nombre2} ${apellidos}`;
        var canton = document.getElementById('flt_canton').value;
        var fechaNacimientoStr = document.getElementById('datetimepicker1Input').value;
        var nombreRepresentante = capitalizeFirstLetter(document.getElementById('flt_nombre_representante').value);
        var telefono = document.getElementById('flt_telefono').value;

        var dias = ''

        var fechaNacimiento = new Date(fechaNacimientoStr);

        var edad = new Date().getFullYear() - fechaNacimiento.getFullYear() -
            (new Date().getMonth() < fechaNacimiento.getMonth() ||
                (new Date().getMonth() === fechaNacimiento.getMonth() &&
                    new Date().getDate() < fechaNacimiento.getDate()));

        console.log(curso);

        data.forEach(objeto => {
            // Hacer algo con 'objeto'
            const spaces = objeto.spaces;
            const startDate = objeto.startDate;
            const endDate = objeto.endDate;
            const ageMin = objeto.rangeAge.min;
            const ageMax = objeto.rangeAge.max;

            const schedules = objeto.schedules || [];

            // Obtener el nombre del profesor
            const teacherFullName = objeto._teacher.fullName;
            const idCourse = objeto._id

            course_name = objeto.name

            console.log(course_name.trim());
            console.log(curso.trim());

            // Obtener datos según el nombre
            if (course_name.trim() === curso.trim()) {
                schedules.forEach((schedule, index) => {
                    day = schedule.day;
                    dias += capitalizeFirstLetter(day);

                    // Agregar coma si no es el último día
                    if (index < schedules.length - 1) {
                        dias += ', ';
                    }
                });

                console.log(`Datos para ${course_name}:`);
                console.log("Espacios:", spaces);
                console.log("Fecha de inicio:", new Date(startDate));
                console.log("Fecha de fin:", new Date(endDate));
                console.log(`ID: ${idCourse}`);

                $('#id_course').val(idCourse);
            }
        });

        // Muestra los datos en el modal
        var datosIngresados = document.getElementById('datosIngresados');
        datosIngresados.innerHTML = `
            <p><span><strong> Zona de Elección: </strong></span>${zonaEleccion}</p>
            <p><span><strong> Horarios: </strong></span>${dias}</p>
            <p><span><strong> Curso: </strong></span>${curso}</p>
            <p><span><strong> Género: </strong></span>${genero}</p>
            <p><span><strong> Nombre: </strong></span>${nombreCompleto}</p>
            <p><span><strong> Cantón: </strong></span>${canton}</p>
            <p><span><strong> Fecha de nacimiento: </strong></span>${fechaNacimientoStr}</p>
            <p><span><strong> Nombre del Representante: </strong></span>${nombreRepresentante}</p>
            <p><span><strong> Celular: </strong>+593-</span>${telefono}</p>
        `;
    });

    function enviarFormulario() {
        // Cierra el modal de confirmación
        $('#confirmacionModal').modal('hide');

        // Envía el formulario
        $.ajax({
            url: '/servicios/registro-infocentro/',
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function (response) {
                if (response.status === 'success') {
                    // Muestra un mensaje de registro exitoso
                    alert('¡Registro exitoso!');

                    // Redirige a la URL proporcionada en la respuesta después de aceptar la alerta
                    window.location.href = response.redirect_url || '/servicios/index/';
                } else {
                    // Maneja otros casos de respuesta del servidor, si es necesario
                    alert('¡Registro no exitoso!');
                }
            },
            error: function (response) {
                // Maneja errores si es necesario
                alert(response.responseJSON.message);
            }
        });
    }
</script>

<script type="text/javascript" charset="utf-8">
    // Obtén el elemento de entrada
    const input = document.getElementById("flt_telefono");

    // Escucha el evento "input" para validar y formatear el número
    input.addEventListener("input", function () {
        let value = input.value;

        // Elimina caracteres no numéricos
        value = value.replace(/\D/g, '');

        // Aplica el formato 9xx-xxxxxx si hay más de 3 caracteres
        if (value.length > 3) {
            value = value.substring(0, 3) + '-' + value.substring(3, 9);
        } else if (value.length <= 3 && value.includes('-')) {
            // Si hay un guion pero no hay más de 3 caracteres, elimina el guion
            value = value.replace('-', '');
        }

        // Actualiza el valor en el campo de entrada
        input.value = value;
    });

    $(document).ready(function () {
        fecha1 = document.getElementById("datetimepicker1Input").value.replace(/[/]/g, "-");
        $('#fecha').val(fecha1);

        $('#flt_curso').change(function () {
            var elegidos = [];
            $(this).find(':selected').each(function (i, item) {
                elegidos[i] = $(item).val();
            });
            // console.log('lmqa -flt_curso elegidos..' + elegidos);
            $('#flt_curso_list').val(elegidos);
        });

        $('#flt_genero').change(function () {
            var elegidos = [];
            $(this).find(':selected').each(function (i, item) {
                elegidos[i] = $(item).val();
            });
            // console.log('lmqa -flt_genero elegidos..' + elegidos);
            $('#flt_genero_list').val(elegidos);
        });

        $('#flt_canton').change(function () {
            var elegidos = [];
            $(this).find(':selected').each(function (i, item) {
                elegidos[i] = $(item).val();
            });
            // console.log('lmqa -flt_canton elegidos..' + elegidos);
            $('#flt_canton_list').val(elegidos);
        });
    });
</script>


{% block content %}

{% endblock content %}

{% endblock %}

{% block body_end %}

{% endblock body_end %}